<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
    <ion-item slot="end" lines="none">
      <ion-button [routerLink]="'/login'" color="dark">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        Iniciar Sesion
      </ion-button>
    </ion-item>
    <ion-item slot="end" lines="none">
      <ion-button [routerLink]="'/registrar'" color="dark">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Registrarse
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
        <ion-item>
          <ion-img [src]="'./assets/images/recetas-cocina-internacional.jpg'"></ion-img>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
        <ion-row>
          <ion-col size="12">
            <ion-item class="ion-no-border" lines="none">
              <h1 class="ion-text-center">Cocina algo diferente todos los días.</h1>
            </ion-item>
            <ion-item class="ion-text-justify ion-no-border" lines="none">
              <h4>Con más de 16,000 recetas de comida probadas y calificadas por la comunidad</h4>
            </ion-item>
            <ion-item class="ion-text-justify ion-no-border" lines="none">
              <p>Recetas de cocina y gastronomía. Las mejores recetas de cocinas, postres, vinos, turismo gastronómico, turismo enológico y noticias e información sobre</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" >
            <ion-item class="ion-text-center ion-no-border" lines="none">
              <ion-img style="width: 90px; height: 90px;" [src]="'./assets/images/chefLogo.jpg'"></ion-img>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let item of recipeList">
        <ion-card *ngIf="item.description">
          <ion-img [src]="item.thumbnail_url"></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="item-text-wrap">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui magni fuga non ipsa minima eum maxime et impedit perspiciatis adipisci voluptates reiciendis suscipit possimus quibusdam est tempore quo, autem eos.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
